{% extends 'base.html.twig' %}

{% block title %}Edit Album
{% endblock %}

{% block body %}
	<div class="container text-light">
	<h1 class="">Modifier l'album</h1>

		{{ include('album/_form.html.twig', {'button_label': 'Update'}) }}

		<a class="badge badge-dark" href="{{ path('album_index') }}">Retour à la collection</a>

		{{ include('album/_delete_form.html.twig') }}
	</div>
{% endblock %}
